<div class="container">
  <div class="testimonial">
    <div class="testimonial-text">
    <div class="usertext active-text">
      <i class="fa-solid fa-quote-left"></i>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima quae temporibus similique ipsa dolorum, sequi
        suscipit odio repudiandae corrupti est.lor, sit amet consectetur adipisicing elit. Minima quae temporibus similique ipsa dolorum, sequi
        suscipit odio repudiandae corrupti est</p>
        <span>JOHN</span>
    </div>
    <div class="usertext">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima quae temporibus similique ipsa dolorum, sequi
        suscipit odio repudiandae corrupti est.</p>
    </div>
    <div class="usertext">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima quae temporibus similique ipsa dolorum, sequi
        suscipit odio repudiandae corrupti est.</p>
       <span>VIDYA KULAPATHI</span>
    </div>
    <div class="usertext">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima quae temporibus similique ipsa dolorum, sequi
        suscipit odio repudiandae corrupti est.</p>
       <span>VIDYA KULAPATHI</span>
    </div>
    <div class="usertext">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima quae temporibus similique ipsa dolorum, sequi
        suscipit odio repudiandae corrupti est.</p>
       <span>VIDYA KULAPATHI</span>
    </div>
  </div>
  <div class="testmonial-pic">
       <img src="assets/user1.png" alt="user1" class="user-img active-pic" (click)="activeSelectedText()">
       <img src="assets/user2.png" alt="user2" class="user-img"  (click)="activeSelectedText()">
       <img src="assets/user3.png" alt="user3" class="user-img"  (click)="activeSelectedText()">
       <img src="assets/user4.png" alt="user4" class="user-img" (click)="activeSelectedText()">
       <img src="assets/user5.png" alt="user5" class="user-img" (click)="activeSelectedText()">
  </div>
  </div>
</div>